<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Lingmu Top</title>
        <meta name="description" content="Lingmu紹介トップページ">
        <link rel="icon" type="image/png" href="../../resources/images/zanzaibar.jpg">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link href="../../resources/css/top/style.css" rel="stylesheet">
        <!-- ローダー -->
        <link rel="stylesheet" href="../../resources/css/top/loader.css">
        <script src="../../resources/scripts/top/pace.js"></script>
    </head>

    <body>
        <div id="home" class="big-bg">
            <header class="page-header wrapper">
                <h1></h1>
                <nav>
                    <ul class="main-nav">
                        <li><a href="news.html">PROFILE</a></li>
                        <li><a href="menu.html">PORTFOLIO</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </header>

            <div class="home-content wrapper">
                <h2 class="page-title">Chill Out</h2>
                <p>時を忘れ自由な今を楽しもう</p>
                <a class="button" href="menu.html">Go to profile</a>
            </div>
        </div>
    </body>
</html>
